/* || CSS Reset */
/* Based off Josh W. Comeau's custom css reset:
// https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
  box-sizing: border-box;

  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
}

#root {
  isolation: isolate;
}

/* || General styles */
#root {
  --color--dark: #252525;
  --color--light: #646464;
  --color--shadow: #6464643a;
  --accent-color: #e00f0f;
  --accent-color--dark: #9c0c0c;

  font-family: 'Open Sans', sans-serif, serif;
}
